* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #0d3b66;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 60px;
}

.logo h1 {
    color: white;
    font-family: Arial, sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #fd8421;
}

    
h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}