* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}
header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}