* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #0d3b66;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 60px;
    border-radius: 50px;
    box-shadow: inset 0 0 10px rgba(150, 30, 30, 0.5);
}

.logo h1 {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
   }

nav a:hover {
    color: #fd8421;
}


.admission-section {
    padding: 60px 80px;
    background-color: #f4f7fb;
}

.section-title{
    font-size: 36px;
    color: #0d3b66;
    text-align: center;
    margin-bottom: 40px;
}

.admission-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    max-width: 900px;
    margin: auto;
}


.form-group {
    display: flex;
    flex-direction: column;
}

.full-width {
    grid-column: span 2;
}

input, select, textarea {
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    transition: 0.3s;
}

input:focus, select:focus, textarea:focus {
    border-color: #0d3b66;
    outline: none;
    box-shadow: 0 0 8px rgba(13, 59, 102, 0.3);
}

.radio-group {
    margin-top: 10px;
}

button {
    padding: 12px;
    background-color: #0d3b66;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: #f4a261;
}


@media (max-width: 768px) {
    .admission-form {
        grid-template-columns: 1fr;
    }

    .full-width {
        grid-column: span 1;
    }
}
