* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #0d3b66;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 60px;
    border-radius: 50px;
    box-shadow: inset 0 0 10px rgba(150, 30, 30, 0.5);
}

.logo h1 {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
    
}

nav a:hover {
    color: #fd8421;
}

    

/* Table of Contents */

.course-section {
    padding: 40px 80px;
    background-color: #f4f7fb8e;
}
.section-title {
    font-size: 32px;
    color: #0d3b66;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
    padding-top: 15px;
}


.course-table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
}

.course-table th,

.course-table td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
}

.course-table th {
    background-color: #0d3b66;
    color: white;
}

.course-table tr:hover {
    background-color: #f4f7fb;
}



.course-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 40px 80px;
}

.card {
    padding: 20px;
    background-color: #f4f7fb;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #f4a261;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background-color: #e76f51;
}
@media (max-width: 768px) {
    .course-cards {
        grid-template-columns: 1fr;
    }

    .course-table {
        width: 95%;
    }
}
