* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #0d3b66;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 60px;
    border-radius: 50px;
    box-shadow: inset 0 0 10px rgba(150, 30, 30, 0.5);
}

.logo h1 {
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
    }

nav a:hover {
    color: #fd8421;
}

    

/* HERO SECTION */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    padding: 70px 80px;
    background-color: #f4f7fb8e;
}

.hero-text h2 {
    font-size: 40px;
    color: #0d3b66;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #333;
}

.hero-btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #f4a261;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.hero-btn:hover {
    background-color: #e76f51;
}

.hero-image img {
    width: 100%;
    border-radius: 50px;
    box-shadow: 0 10px 25px rgba(211, 60, 60, 0.2);
}

@media (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

/* FACILITIES SECTION */

.facilities {
    padding: 60px 80px;
    background-color: #8a5151;
    text-align: center;
}

.section-title {
    font-size: 32px;
    color: #0d3b66;
    margin-bottom: 40px;
}

.facility-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.facility-card {
    padding: 25px;
    background-color: #f4f7fb;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.facility-card h3 {
    margin-bottom: 15px;
    color: #0d3b66;
}

.facility-card p {
    color: #444;
    line-height: 1.5;
}

.facility-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}
@media (max-width: 768px) {
    .facility-container {
        grid-template-columns: 1fr;
    }
}

/* FOOTER */

.footer {
    background-color: #2f5c86;
    color: white;
    padding-top: 50px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 0 80px 40px;
}

.footer h3 {
    margin-bottom: 15px;
}

.footer p {
    line-height: 1.6;
    color: #ddd;
}

.footer-links a {
    display: block;
    color: #ddd;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #f4a261;
}

.footer-bottom {
    text-align: center;
    padding: 12px;
    background-color: #08263f;
    font-size: 14px;
}
@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
